@font-face {
    font-family: MyFont;
    src: url(external/Norse-Bold.otf);
}

:root{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 200px;
}

*{
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: black
}

body{
    display: flex;
    justify-content: center;
    background-color: black;
    flex: 1;
}


section.section-1{
    display: flex;
    flex-direction: column;
    height: auto;
    align-content: center;
    justify-content: center;
    background: no-repeat center/400% url(image/duntan_render2.png);
    background-color: black;
    flex: 1 2 auto;

}

.hero{
    background-color: hsla(0, 1%, 44%, 0.80);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 100px;
}


section div h1{
    font-family: MyFont, sans-serif;
    font-size: 5rem;
    color: #ccc;
}

section div img{
    width: 5rem;

}

section.section-2{
    background-color:whitesmoke ;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 600px;
    padding: 100px 0;
}
form{
    width: auto;
}

form fieldset{
    background-color: white;
    border: 1 solid #ccc;
    box-shadow: 0px 5px #ccc;
    padding: 3rem;
    flex: 1;
    margin: 24px 0;
}

form fieldset div.container{
    display: flex;
    width: auto;
    margin-top: 24px;
}

fieldset div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label{
    margin-right: 3rem;
    margin-bottom: 3rem;
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: column;
}

input{
    border-radius: 4px;
    padding: 1px;
}

section.section-2 div{
    max-width: 800px;
}

section button.submit{
    font-weight: 600;
    padding: 16px 32px;
    background-color: gray;
    color: white;
    border-radius: 4px;
    margin-top: 40px;
    align-self: flex-start;
    flex: 0l
}

section *{
    font-size: 1vw;
}

.section-2 >:not(form){
   margin: 10px 50px;
}

div.title{
    font-weight: 700;
}
