@font-face {
    font-family: MyFont;
    src: url(external/Norse-Bold.otf);
}

:root{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 400px;
}

*{
    font-family: "rubik", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: black
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    flex: 1;
}

div.content{
    display: flex;
    justify-content: center;
    background-color: black;
    flex: 1;
}

section.section-1{
    display: flex;
    flex-direction: column;
    height: auto;
    align-content: center;
    justify-content: center;
    background: no-repeat center/400% url(image/duntan_render2.png);
    background-color: black;
    flex: 1 2 auto;

}

.hero{
    background-color: hsla(0, 1%, 17%, 0.856);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 100px;
}


section div h1{
    font-family: MyFont, sans-serif;
    font-size: 5rem;
    color: #ccc;
}

section div img{
    width: 5rem;

}

section.section-2{
    background-color:whitesmoke ;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 600px;
    padding: 120px 0;
}
form{
    width: auto;
}

form fieldset{
    background-color: white;
    border: 1 solid #ccc;
    box-shadow: 0px 15px 15px -5px #ccc;
    padding: 3rem 5rem;
    flex: 1;
    margin: 24px 0;
}

form fieldset div.container{
    display: flex;
    width: auto;
    margin-top: 24px;
}

fieldset div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div>label{
    color: rgb(88, 88, 88);
    font-weight: 600;
    font-size: 1rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: column;
    
}

input{
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: 300;
    font-size: medium;
}

section.section-2 div{
    max-width: 800px;
    margin-bottom: 0px;
}

section>form>button.submit{
    font-weight: 600;
    padding: 16px 32px;
    background-color: gray;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 80px;
    align-self: flex-start;
    flex: 0l

}

section *{
    font-size: 1vw;
}

.section-2 >:not(form){
   margin: 10px 80px;
}

div.title{
    font-weight: 500;
    color: rgb(56, 56, 56);
}
.section-2>p:nth-of-type(1){
    margin-top: 0px;
    margin-bottom: 20px;
    
}
div>label>input:focus{
    box-shadow: 4px 4px 15px #ccc;
    border: 1px solid blue;
}

div>label>input:hover{
    box-shadow: 2px 2px 10px #ccc;
}

div>label>input:user-invalid{
    border: 1px solid red;
}

section button.submit:hover{
    cursor: pointer;
    box-shadow: 4px 4px 10px #ccc;
}

div>label>input:user-valid{
    border: 2px solid green;
}

a{
    color: rgb(90, 89, 89);
    font-size: 1rem;
}

a:hover{
    text-shadow: 2px 2px 10px #ccc;;
}

.section-2>div:last-child{
    margin-top: 40px;
    font-size: 1rem;
    font-weight: 400;
}

.footer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}